<!DOCTYPE html >
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Trails </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/trails.css">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"> 

</head>
<body>
   

    <%- include('./partials/navbar') %>

   <h1> All trails</h1>
   <% allTrails.forEach(trail => { %>
     <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" alt="" src="<%= trail.trail_image %>">  
            </div>

            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= trail.trail_name %></h5>
                    <h6><%= trail.difficulty_level %></h3>
                    <div class="card-text">
                        <small class="text-muted"><%= trail.trail_location%></small>
                    </div>

                    <a class="btn btn-primary" href="/trails/<%=trail.trail_id%>" style="color: white;" > View <%=trail.trail_name %></a>
                </div>
            </div>
        </div>

     </div>
   <% }) %>
   

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>
